{% extends 'movies/index.twig' %}

{% block content %}
    <!-- Services Section -->
    <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">Page formulaire d'ajout</h2>
        </div>
    </section>
{% endblock %}